@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,600;0,800;0,900;1,500&family=Oswald:wght@200;300;400;500;700&display=swap');
/* Box Model Hack */
* {
	box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
	content: '.';
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
	margin: 0;
	font-family: 'Oswald', 'Montserrat', serif, sans-serif;
	font-size: 1.3rem;
}

h1,
h2 {
	font: 'Oswald';
	text-transform: uppercase;
}

/******************************************
/* LAYOUT
/*******************************************/

/* HEADER */
/******************************************/

header {
	background-color: #66768a;
	color: #f1f1f1;
}

.row {
	display: flex;
	flex-direction: column;
}
.nav {
	/* border: 1px solid red; */
	display: flex;
	justify-content: space-between;
}
/* ul {
	border: 1px solid black; 
} */

.nav__list--primary {
	display: flex;
	flex-direction: row;
}

.nav__item {
	list-style: none;
	text-decoration: none;
	padding: 0 0.5em;
}

.nav__link {
	text-transform: uppercase;
	color: #f1f1f1;
	text-decoration: none;
	font-weight: 400;
	font-size: 1rem;
	letter-spacing: 0.05rem;
	font: serif;
}
.nav__list--secondary {
	align-items: flex-end;
}

.nav__list--secondary > .nav__item > .nav__link {
	background-color: #f1f1f1;
	color: #66768a;
	padding: 5px 9px;
	border-radius: 5px;
}

/* HERO */
/******************************************/

.hero {
	background-color: #66768a;
	padding: 20px;
}
.hero > .container {
	border: 1px solid red;
	max-width: 60%;
	width: 810px;
	margin: 0 auto;
	text-align: center;
}
.hero__title {
	border: 1px solid black;
	font-size: 3rem;
	text-align: center;
	color: #f1f1f1;
	font-weight: 500;
	letter-spacing: 0.05rem;
}
.hero__text {
	color: #f1f1f1;
	text-align: center;
	border: 1px solid white;
}

.hero__link {
	text-align: center;
	display: inline-block;
	margin: 0 auto;
	color: #f1f1f1;
	text-decoration: none;
	border: 1px solid white;
	font-weight: 300;
	font-size: 1rem;
	font-family: 'Montserrat', serif;
}

.hero__text-footer {
	font-size: 0.8rem;
	font-family: 'Montserrat', serif;
	color: #393e49;
	padding-top: 4em;
}

/* ACCENT */
/******************************************/

.accent {
	border: 1px solid black;
	font-size: 1.3rem;
	text-align: center;
	font-weight: 300;
	letter-spacing: 0.05rem;
	max-width: 60%;
	width: 810px;
	margin: 0 auto;
	padding: 3em;
}

.accent__title {
	padding-bottom: 0;
	margin-bottom: 0.3em;
}
.accent__text {
	max-width: 65%;
	margin: 0 auto;
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	font-size: 0.9rem;
	padding-bottom: 1.5em;
}

/* ARTICLE */
/******************************************/
.article {
	background-color: #dbdfe2;
}
.article__container {
	max-width: 65%;
	display: flex;
	flex-direction: row;
	margin: 0 auto;
}

.card {
	border: 1px solid black;
	margin: 1em;
}

.image {
	max-width: 80%;
	height: 175px;
	background-color: #66768a;
	margin: 0 auto;
}

.card {
	text-align: center;
}

.card__title {
	text-align: center;
	font-size: 1.3rem;
	font-weight: 400;
}

.card__text {
	font-family: 'Montserrat', Helvetica, sans-serif;
	font-weight: 300;
	font-size: 1rem;
	text-align: center;
}

.card__link,
.accent__button {
	border: 0.5px solid black;
	display: inline-block;
	margin: 0 auto;
	font-family: 'Montserrat';
	font-size: 0.8rem;
	font-weight: 600;
	text-decoration: none;
	color: black;
	padding: 1em 3em;
	text-transform: uppercase;
}

/* FOOTER */
/******************************************/
.footer {
	display: flex;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
